# Gioi thieu
Pandas co 2 kieu cau truc du lieu<br>
- Series: Mang 1 chieu
- Dataframe: Mang 2 chieu

# Khoi tao

In [40]:
import pandas as pd

# Tao Series tu list
list = ['a','b','c','d']
s = pd.Series(list)
print(s, "\n")

# Tao Series tu list voi custom index
s1 = pd.Series(list, index=[1,2,3,4])
s2 = pd.Series(list, index=['hv1','hv2','hv3','hv4'])
print(s1, "\n")
print(s2, "\n")

# Tao Series tu tuple
tuple = (7.5,6,8,9)
s3 = pd.Series(tuple)
print(s3, "\n")

# Tao Series tu hang so
s4 = pd.Series(10, index=[0,1,2,3])
print(s4, "\n")

0    a
1    b
2    c
3    d
dtype: object

1    a
2    b
3    c
4    d
dtype: object

hv1    a
hv2    b
hv3    c
hv4    d
dtype: object

0    7.5
1    6.0
2    8.0
3    9.0
dtype: float64

0    10
1    10
2    10
3    10
dtype: int64

# 2. Truy xuat
- `loc`: index tuong minh
- `iloc`: index ngam dinh

## 2.1. Truy xuat theo index

In [14]:
print(s2['hv1'])
print(s2.loc['hv1'])
print(s2[0])
print(s2.iloc[0])

a
a
a
a

## 2.2. Truy xuat nhieu phan tu

In [29]:
print(s2[1:3], "\n")
print(s2.iloc[[0,1,3]], "\n")
print(s2[['hv1','hv4']], "\n")
print(s2.head(2), "\n")
print(s2.tail(2), "\n")

hv2    b
hv3    c
dtype: object

hv1    a
hv2    b
hv4    d
dtype: object

hv1    a
hv4    d
dtype: object

hv1    a
hv2    b
dtype: object

hv3    c
hv4    d
dtype: object

## 2.3. Truy xuat theo dieu kien

In [32]:
print(s2[s2 == 'a'], "\n")

hv1    a
dtype: object

# 3. Them phan tu

In [38]:
# Them phan tu
s2['hv5'] = 'g'

# Them phan tu by concat
new_hv = pd.Series(['c', 'd'], index=['hv6', 'hv7'])
s2 = pd.concat([s2, new_hv])
print(s2, "\n")

hv1    a
hv2    b
hv3    c
hv4    f
hv5    g
hv6    c
hv7    d
hv6    c
hv7    d
hv6    c
hv7    d
dtype: object

# 4. Sua phan tu

In [44]:
print(s3, "\n")
s3[1] = 6.5
print(s3, "\n")

0    7.5
1    6.0
2    8.0
3    9.0
dtype: float64

0    7.5
1    6.5
2    8.0
3    9.0
dtype: float64