# Chapter 5 - Exercise 1: GroupBy

#### drinks.csv là tập tin cung cấp dữ liệu về tình hình tiêu thụ rượu bia ở các quốc gia theo từng châu lục

country: tên quốc gia tiêu thụ<br/>
beer_servings: số lượng bia tiêu thụ<br/>
spirit_servings: số lượng rượu mạnh (>= 40<sup>0</sup>)<br/>
wine_servings: số lượng rượu vang<br/>
total_litres_of_pure_alcohol: tổng số lít rượu nguyên chất<br/>
continent: châu lục

In [1]:
import pandas as pd

In [2]:
# Câu 1: Đọc dữ liệu từ tập tin drinks.csv với index_col là cột đầu tiên của dữ liệu, 
# và lưu vào biến drinks. 
# Cho biết kiểu dữ liệu (type) của drinks
# Cho biết kích thước (shape) của drinks 
# Hiển thị tên các cột (columns) của drinks
# Xem thông tin info()
# code here

<details>
  <summary style='color:#FD6504; font-size:14px'>Nhấn vào đây để xem kết quả!</summary>
  <pre>&lt;class 'pandas.core.frame.DataFrame'&gt;
(193, 6)
Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')
&lt;class 'pandas.core.frame.DataFrame'&gt;
Int64Index: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype  
---  ------                        --------------  -----  
 0   country                       193 non-null    object 
 1   beer_servings                 193 non-null    int64  
 2   spirit_servings               193 non-null    int64  
 3   wine_servings                 193 non-null    int64  
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object 
dtypes: float64(1), int64(3), object(2)
memory usage: 10.6+ KB
None
</pre>
</details>

In [3]:
# Xem 5 dòng dữ liệu đầu tiên (head) của drinks
# code here

In [4]:
# Xem 5 dòng dữ liệu cuối cùng (tail) của drinks
# code here

In [5]:
# Đếm dữ liệu NULL
# code here

<details>
  <summary style='color:#FD6504; font-size:14px'>Nhấn vào đây để xem kết quả!</summary>
  <pre>country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64</pre>
</details>

In [6]:
# cho biết số lượng quốc gia ở mỗi châu lục
# code here

<details>
  <summary style='color:#FD6504; font-size:14px'>Nhấn vào đây để xem kết quả!</summary>
  <pre>AF    53
EU    45
AS    44
OC    16
SA    12
Name: continent, dtype: int64</pre>
</details>

In [7]:
# Câu 2: Cho biết số lượng bia tiêu thụ trung bình (mean) ở mỗi châu lục
# code here

<details>
  <summary style='color:#FD6504; font-size:14px'>Nhấn vào đây để xem kết quả!</summary>
  <pre>continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64</pre>
</details>

In [8]:
# sắp giảm dần
# code here

<details>
  <summary style='color:#FD6504; font-size:14px'>Nhấn vào đây để xem kết quả!</summary>
  <pre>continent
EU    193.777778
SA    175.083333
OC     89.687500
AF     61.471698
AS     37.045455
Name: beer_servings, dtype: float64</pre>
</details>

In [9]:
# Câu 2: Vẽ biểu đồ Bar với số lượng bia tiêu thụ trung bình ở mỗi châu lục
# HD:
# drinks.groupby('continent').beer_servings.mean().plot.bar(
#     title='Lượng bia tiêu thụ trung bình ở mỗi châu lục', rot=0, grid=True);

<details>
  <summary style='color:#FD6504; font-size:14px'>Nhấn vào đây để xem kết quả!</summary>
  <img src="">
</details>

In [10]:
# Câu 3: Cho biết thông tin thống kê tổng quát (describe) số lượng rượu vang 
# được tiêu thụ ở mỗi châu lục 
# code here

<details>
  <summary style='color:#FD6504; font-size:14px'>Nhấn vào đây để xem kết quả!</summary>
  <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>count</th>
      <th>mean</th>
      <th>std</th>
      <th>min</th>
      <th>25%</th>
      <th>50%</th>
      <th>75%</th>
      <th>max</th>
    </tr>
    <tr>
      <th>continent</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AF</th>
      <td>53.0</td>
      <td>16.264151</td>
      <td>38.846419</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>13.00</td>
      <td>233.0</td>
    </tr>
    <tr>
      <th>AS</th>
      <td>44.0</td>
      <td>9.068182</td>
      <td>21.667034</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>8.00</td>
      <td>123.0</td>
    </tr>
    <tr>
      <th>EU</th>
      <td>45.0</td>
      <td>142.222222</td>
      <td>97.421738</td>
      <td>0.0</td>
      <td>59.0</td>
      <td>128.0</td>
      <td>195.00</td>
      <td>370.0</td>
    </tr>
    <tr>
      <th>OC</th>
      <td>16.0</td>
      <td>35.625000</td>
      <td>64.555790</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>8.5</td>
      <td>23.25</td>
      <td>212.0</td>
    </tr>
    <tr>
      <th>SA</th>
      <td>12.0</td>
      <td>62.416667</td>
      <td>88.620189</td>
      <td>1.0</td>
      <td>3.0</td>
      <td>12.0</td>
      <td>98.50</td>
      <td>221.0</td>
    </tr>
  </tbody>
</table>
</details>

In [11]:
# Câu 4: Cho biết số lượng bia và rượu tiêu thụ trung bình (mean) ở mỗi châu lục
# code here

<details>
  <summary style='color:#FD6504; font-size:14px'>Nhấn vào đây để xem kết quả!</summary>
  <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>beer_servings</th>
      <th>spirit_servings</th>
      <th>wine_servings</th>
      <th>total_litres_of_pure_alcohol</th>
    </tr>
    <tr>
      <th>continent</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AF</th>
      <td>61.471698</td>
      <td>16.339623</td>
      <td>16.264151</td>
      <td>3.007547</td>
    </tr>
    <tr>
      <th>AS</th>
      <td>37.045455</td>
      <td>60.840909</td>
      <td>9.068182</td>
      <td>2.170455</td>
    </tr>
    <tr>
      <th>EU</th>
      <td>193.777778</td>
      <td>132.555556</td>
      <td>142.222222</td>
      <td>8.617778</td>
    </tr>
    <tr>
      <th>OC</th>
      <td>89.687500</td>
      <td>58.437500</td>
      <td>35.625000</td>
      <td>3.381250</td>
    </tr>
    <tr>
      <th>SA</th>
      <td>175.083333</td>
      <td>114.750000</td>
      <td>62.416667</td>
      <td>6.308333</td>
    </tr>
  </tbody>
</table>
</details>

In [12]:
# Câu 5: Cho biết giá trị trung vị (median) của các loại bia và rượu 
# tiêu thụ ở mỗi châu lục
# code here

In [13]:
# Câu 6: Cho biết số lượng rượu mạnh (spirit_servings) 
# tiêu thụ trung bình, lớn nhất và nhỏ nhất ở mỗi châu lục 
# Gợi ý: Dùng spirit_servings.agg(['mean', 'min', 'max'])
# code here

<details>
  <summary style='color:#FD6504; font-size:14px'>Nhấn vào đây để xem kết quả!</summary>
  <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mean</th>
      <th>min</th>
      <th>max</th>
    </tr>
    <tr>
      <th>continent</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AF</th>
      <td>19.681818</td>
      <td>1</td>
      <td>152</td>
    </tr>
    <tr>
      <th>AS</th>
      <td>78.735294</td>
      <td>1</td>
      <td>326</td>
    </tr>
    <tr>
      <th>EU</th>
      <td>138.720930</td>
      <td>27</td>
      <td>373</td>
    </tr>
    <tr>
      <th>OC</th>
      <td>66.785714</td>
      <td>11</td>
      <td>254</td>
    </tr>
    <tr>
      <th>SA</th>
      <td>114.750000</td>
      <td>25</td>
      <td>302</td>
    </tr>
  </tbody>
</table>
</details>

In [14]:
# Câu 7: Sắp xếp dữ liệu tăng dần (sort_values) theo số lượng bia tiêu thụ,
# In 10 dòng đầu tiên
# code here

In [15]:
# Cho biết 5 quốc gia có lượng tiêu thụ bia lớn nhất
# code here

In [16]:
# Vẽ biểu đồ Bar với 5 quốc gia có lượng tiêu thụ bia lớn nhất
# HD:
# drinks_des.tail().plot.bar(x='country', y='beer_servings', 
# rot=60, legend=False, title='5 quốc gia tiêu thụ bia nhiều nhất', grid=True);

<details>
  <summary style='color:#FD6504; font-size:14px'>Nhấn vào đây để xem kết quả!</summary>
  <img src="">
</details>

In [17]:
# Cho biết 5 quốc gia có lượng tiêu thụ bia ít nhất
# code here

In [18]:
# Câu 8: Cho biết 5 quốc gia ở Châu Á có lượng tiêu thụ bia ít nhất
# code here

<details>
  <summary style='color:#FD6504; font-size:14px'>Nhấn vào đây để xem kết quả!</summary>
  <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>beer_servings</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>171</th>
      <td>Timor-Leste</td>
      <td>1</td>
    </tr>
    <tr>
      <th>137</th>
      <td>Qatar</td>
      <td>1</td>
    </tr>
    <tr>
      <th>168</th>
      <td>Tajikistan</td>
      <td>2</td>
    </tr>
    <tr>
      <th>116</th>
      <td>Myanmar</td>
      <td>5</td>
    </tr>
    <tr>
      <th>167</th>
      <td>Syria</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</details>