# Chapter 4 - Exercise 4: Weather Data

#### Bộ dữ liệu Weather Data bao gồm thông tin về thời tiết của tất cả các ngày trong tháng 7 năm 2017
#### Bộ dữ liệu chứa trong thư mục data gồm các file dữ liệu:
- 1_TempHighF: Nhiệt độ cao nhất (độ F)
- 2_TempLowF: Nhiệt độ thấp nhất (độ F)
- 3_HumidityHighPercent: Độ ẩm cao nhất (%)
- 4_HumidityLowPercent: Độ ẩm thấp nhất (%)
- 5_VisibilityHighMiles: Tầm nhìn xa (miles)
- 6_VisibilityLowMiles: Tầm nhìn gần (miles)
- 7_WindMPH: Sức gió (miles per hour)
- 8_PrecipitationSumInches: Lượng mưa (inches)

- Link thư mục data: https://drive.google.com/drive/folders/1614aFbGoWimoWYVi_x-o5F9Tbc_bNnPc?usp=sharing

### * Yêu cầu
<p><b>1. Đọc dữ liệu từ các tập tin và lưu trữ vào list data với mỗi phần tử là dữ liệu được đọc từ 1 tập tin tương ứng trong thư mục data (có kiểu numpy array). In kết quả list data</b></p>
<p><b>2. Từ các numpy array trong list data, tạo dataframe dfWeather gồm các cột: 
- 'TempHighF', 'TempLowF', 'HumidityHighPercent', 'HumidityLowPercent', 'VisibilityHighMiles', 'VisibilityLowMiles', 'WindMPH', 'PrecipitationSumInches'</b><br>
- Nhiệt độ cao nhất, nhiệt độ thấp nhất, độ ẩm cao nhất, độ ẩm thấp nhất, tầm nhìn xa, tầm nhìn gần, sức gió và lượng mưa<br>
- Xem 5 dòng đầu tiên trong dfWeather
</p>

<p><b>3. Tạo dataframe dfWeather2 lần lượt với các cột sau đây:
'TempHighC', 'TempLowC', 'HumidityHighPercent', 'HumidityLowPercent', 'VisibilityHighKMs', 'VisibilityLowKMs', 'WindKMPH', 'PrecipitationSumMM'</b></p>  
<p>&nbsp; &nbsp;3.1  Chuyển đổi cột nhiệt độ cao nhất từ độ F sang độ C và lưu vào cột TempHighC trong dfWeather2 (làm tròn 2 số lẻ), hiển thị 5 giá trị đầu của TempHighC</p>
<ul>
    <li>công thức chuyển từ độ F sang C: C = (F − 32) × 5/9</li>
    <li>ví dụ chuyển từ 80F sang C: C = (80 - 32) x 5/9 = 26.67C</li>
</ul>    
<p>&nbsp; &nbsp;3.2 Chuyển đổi cột nhiệt độ thấp nhất từ độ F sang độ C và lưu vào cột TempLowC trong dfWeather2</p>
<p>&nbsp; &nbsp;3.3 Tính nhiệt độ trung bình TempMediumC trong dfWeather2</p>
<p>&nbsp; &nbsp;3.4 Tạo mới các cột độ ẩm HumidityHighPercent và HumidityLowPercent trong dfWeather2 bằng các cột HumidityHighPercent và HumidityLowPercent trong dfWeather</p>
<p>&nbsp; &nbsp;3.5 Chuyển đổi cột tầm nhìn xa từ miles sang kilomet và lưu vào cột VisibilityHighKMs trong dfWeather2</p>
<ul>
<li>công thức chuyển từ Mile sang Kilomet: km = mile * 1.609344</li>
    <li>ví dụ chuyển từ 10 mile sang km: km = 10 * 1.609344 = 16.09344 km</li>
</ul>    
<p>&nbsp; &nbsp;3.6 Chuyển đổi cột tầm nhìn gần từ miles sang kilomet và lưu vào cột VisibilityLowKMs trong dfWeather2</p>
<p>&nbsp; &nbsp;3.7 Chuyển đổi cột sức gió từ miles/hour (WindMPH) sang kilomets/hour và lưu vào cột WindKMPH trong dfWeather2</p>
<p>&nbsp; &nbsp;3.8 Chuyển đổi cột lượng mưa từ inches sang milimet và lưu vào cột PrecipitationSumMMs trong dfWeather2</p>
<ul>
    <li>công thức chuyển từ Inches sang Milimet: mm = inches * 25.4</li>
    <li>ví dụ chuyển từ 10 inches sang milimet: mm = 10 * 25.4 = 254 mm</li>

<p><b>4. Xem thông tin thời tiết của 5 ngày đầu tiên trong dfWeather2
<p><b>5. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có nhiệt độ trung bình cao nhất
<p><b>6. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có nhiệt độ trung bình thấp nhất
<p><b>7. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có mưa, sắp giảm theo lượng mưa
<p><b>8. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày không có mưa và có độ ẩm trung bình cao nhất
<p><b>9. Tạo series ser chứa hai giá trị trung bình cột TempMediumC của các ngày có mưa và các ngày không mưa trong tháng

In [2]:
import numpy as np
import os

#### 1. Đọc dữ liệu từ các tập tin và lưu trữ vào list data với mỗi phần tử là dữ liệu được đọc từ 1 tập tin tương ứng trong thư mục data (có kiểu numpy array). In kết quả list data

In [3]:
# lấy danh sách file
list_files = os.listdir('Weather Data')
list_files

['1_TempHighF.txt',
 '2_TempLowF.txt',
 '3_HumidityHighPercent.txt',
 '4_HumidityLowPercent.txt',
 '5_VisibilityHighMiles.txt',
 '6_VisibilityLowMiles.txt',
 '7_WindMPH.txt',
 '8_PrecipitationSumInches.txt']

In [4]:
# đọc các file có trong danh sách file và lưu vào list data
data = []
for file in list_files:
    with open('Weather Data/' + file, encoding='utf8') as f:
        content = f.read()
        data.append(np.array(content.split(','), dtype=float))

In [5]:
#xem kết quả
for d in data:
    print(d,'\n')

[ 98. 100.  99. 101.  99. 100.  99. 100. 101. 100. 101. 101. 102. 101.
 103.  99.  98. 100. 101. 103. 104. 103. 103. 102. 103. 103. 103. 105.
 107. 106.  99.]

[79. 78. 76. 78. 78. 77. 75. 75. 77. 76. 77. 77. 77. 77. 71. 68. 77. 76.
 77. 77. 77. 77. 77. 76. 78. 78. 75. 76. 77. 79. 77.]

[ 85.  91.  88.  85.  85.  88.  88.  87.  82.  87.  88.  88.  88.  88.
 100. 100.  88.  88.  88.  85.  85.  88.  85.  91.  91.  91.  82.  87.
  82.  69.  64.]

[38. 35. 35. 35. 31. 31. 33. 31. 29. 26. 27. 29. 29. 27. 29. 33. 38. 33.
 31. 27. 27. 27. 31. 29. 31. 25. 25. 20. 19. 27. 22.]

[10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10.
 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10.]

[ 6.  8. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10. 10.  2.  6. 10. 10.
 10. 10. 10. 10.  2.  9.  9. 10. 10. 10. 10. 10. 10.]

[15. 14. 13. 13. 13. 12. 15.  9. 12. 12. 14. 13. 10. 15. 23. 12. 16. 14.
 18. 14. 14. 13. 13. 13. 15. 15. 12. 14. 12. 13. 12.]

[0.01 0.   0.   0.   0.   0.   0.02 0.   0.   0.   0.   0.   0.   0.
 0.16 0.   0.03 0.   0.   0.   0.01 0.   0.04 0.01 0.   0.01 0.   0.
 0.   0.   0.  ]

#### 2. Từ các numpy array trong list data, tạo dataframe dfWeather gồm các cột: 
- 'TempHighF', 'TempLowF', 'HumidityHighPercent', 'HumidityLowPercent', 'VisibilityHighMiles', 'VisibilityLowMiles', 'WindMPH', 'PrecipitationSumInches'
- Nhiệt độ cao nhất, nhiệt độ thấp nhất, độ ẩm cao nhất, độ ẩm thấp nhất, tầm nhìn xa, tầm nhìn gần, sức gió và lượng mưa
- Xem 5 dòng đầu tiên trong dfWeather

In [6]:
import pandas as pd

In [7]:
# 'TempHighF', 'TempLowF', 'HumidityHighPercent', 'HumidityLowPercent', 'VisibilityHighMiles', 'VisibilityLowMiles', 
# 'WindMPH', 'PrecipitationSumInches'
dfWeather = pd.DataFrame({'TempHighF':data[0], 'TempLowF':data[1], 'HumidityHighPercent':data[2],
                        'HumidityLowPercent':data[3], 'VisibilityHighMiles':data[4], 'VisibilityLowMiles':data[5],
                        'WindMPH':data[6], 'PrecipitationSumInches':data[7]})

In [8]:
dfWeather.head()

,TempHighF,TempLowF,HumidityHighPercent,HumidityLowPercent,VisibilityHighMiles,VisibilityLowMiles,WindMPH,PrecipitationSumInches
0,98.0,79.0,85.0,38.0,10.0,6.0,15.0,0.01
1,100.0,78.0,91.0,35.0,10.0,8.0,14.0,0.00
2,99.0,76.0,88.0,35.0,10.0,10.0,13.0,0.00
3,101.0,78.0,85.0,35.0,10.0,10.0,13.0,0.00
4,99.0,78.0,85.0,31.0,10.0,10.0,13.0,0.00

### 3. Tạo dataframe dfWeather2 lần lượt với các cột sau đây:
- 'TempHighC', 'TempLowC', 'HumidityHighPercent', 'HumidityLowPercent', 'VisibilityHighKMs', 'VisibilityLowKMs', 'WindKMPH', 'PrecipitationSumMM'

##### 3.1  Chuyển đổi cột nhiệt độ cao nhất từ độ F sang độ C và lưu vào cột TempHighC trong dfWeather2 (làm tròn 2 số lẻ), hiển thị 5 giá trị đầu của TempHighC
    - công thức chuyển từ độ F sang C: C = (F − 32) × 5/9
    - ví dụ chuyển từ 80F sang C: C = (80 - 32) x 5/9 = 26.67C

In [9]:
dfWeather2 = pd.DataFrame({'TempHighC':np.round((dfWeather['TempHighF']-32)*5/9, 2)})

In [10]:
dfWeather2.head()

   TempHighC
0      36.67
1      37.78
2      37.22
3      38.33
4      37.22

#### 3.2 Chuyển đổi cột nhiệt độ thấp nhất từ độ F sang độ C và lưu vào cột TempLowC trong dfWeather2

In [11]:
dfWeather2['TempLowC'] = np.round((dfWeather['TempLowF']-32)*5/9, 2)
dfWeather2.head()

   TempHighC  TempLowC
0      36.67     26.11
1      37.78     25.56
2      37.22     24.44
3      38.33     25.56
4      37.22     25.56

##### 3.3 Tính nhiệt độ trung bình TempMediumC trong dfWeather2

In [12]:
dfWeather2['TempMediumC'] = np.round((dfWeather2['TempHighC']+dfWeather2['TempLowC'])/2, 2)
dfWeather2.head()

   TempHighC  TempLowC  TempMediumC
0      36.67     26.11        31.39
1      37.78     25.56        31.67
2      37.22     24.44        30.83
3      38.33     25.56        31.94
4      37.22     25.56        31.39

##### 3.4 Tạo mới các cột độ ẩm HumidityHighPercent và HumidityLowPercent trong dfWeather2 bằng các cột HumidityHighPercent và HumidityLowPercent trong dfWeather

In [13]:
dfWeather2['HumidityHighPercent'] = dfWeather['HumidityHighPercent']
dfWeather2['HumidityLowPercent'] = dfWeather['HumidityLowPercent']
dfWeather2.head()

   TempHighC  TempLowC  TempMediumC  HumidityHighPercent  HumidityLowPercent
0      36.67     26.11        31.39                 85.0                38.0
1      37.78     25.56        31.67                 91.0                35.0
2      37.22     24.44        30.83                 88.0                35.0
3      38.33     25.56        31.94                 85.0                35.0
4      37.22     25.56        31.39                 85.0                31.0

##### 3.5 Chuyển đổi cột tầm nhìn xa từ miles sang kilomet và lưu vào cột VisibilityHighKMs trong dfWeather2
    - công thức chuyển từ Mile sang Kilomet: km = mile * 1.609344
    - ví dụ chuyển từ 10 mile sang km: km = 10 * 1.609344 = 16.09344 km

In [14]:
dfWeather2['VisibilityHighKMs'] = np.round(dfWeather['VisibilityHighMiles']*1.609344, 2)
dfWeather2.head()

,TempHighC,TempLowC,TempMediumC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs
0,36.67,26.11,31.39,85.0,38.0,16.09
1,37.78,25.56,31.67,91.0,35.0,16.09
2,37.22,24.44,30.83,88.0,35.0,16.09
3,38.33,25.56,31.94,85.0,35.0,16.09
4,37.22,25.56,31.39,85.0,31.0,16.09

##### 3.6 Chuyển đổi cột tầm nhìn gần từ miles sang kilomet và lưu vào cột VisibilityLowKMs trong dfWeather2

In [15]:
dfWeather2['VisibilityLowKMs'] = np.round(dfWeather['VisibilityLowMiles']*1.609344, 2)
dfWeather2.head()

,TempHighC,TempLowC,TempMediumC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs
0,36.67,26.11,31.39,85.0,38.0,16.09,9.66
1,37.78,25.56,31.67,91.0,35.0,16.09,12.87
2,37.22,24.44,30.83,88.0,35.0,16.09,16.09
3,38.33,25.56,31.94,85.0,35.0,16.09,16.09
4,37.22,25.56,31.39,85.0,31.0,16.09,16.09

##### 3.7 Chuyển đổi cột sức gió từ miles/hour (WindMPH) sang kilomets/hour và lưu vào cột WindKMPH trong dfWeather2

In [16]:
dfWeather2['WindKMPH'] = np.round(dfWeather['WindMPH']*1.609344, 2)
dfWeather2.head()

,TempHighC,TempLowC,TempMediumC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH
0,36.67,26.11,31.39,85.0,38.0,16.09,9.66,24.14
1,37.78,25.56,31.67,91.0,35.0,16.09,12.87,22.53
2,37.22,24.44,30.83,88.0,35.0,16.09,16.09,20.92
3,38.33,25.56,31.94,85.0,35.0,16.09,16.09,20.92
4,37.22,25.56,31.39,85.0,31.0,16.09,16.09,20.92

##### 3.8 Chuyển đổi cột lượng mưa từ inches sang milimet và lưu vào cột PrecipitationSumMMs trong dfWeather2
    - công thức chuyển từ Inches sang Milimet: mm = inches * 25.4
    - ví dụ chuyển từ 10 inches sang milimet: mm = 10 * 25.4 = 254 mm

In [17]:
dfWeather2['PrecipitationSumMMs'] = np.round(dfWeather['PrecipitationSumInches']*25.4, 2)
dfWeather2.head()

,TempHighC,TempLowC,TempMediumC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMMs
0,36.67,26.11,31.39,85.0,38.0,16.09,9.66,24.14,0.25
1,37.78,25.56,31.67,91.0,35.0,16.09,12.87,22.53,0.00
2,37.22,24.44,30.83,88.0,35.0,16.09,16.09,20.92,0.00
3,38.33,25.56,31.94,85.0,35.0,16.09,16.09,20.92,0.00
4,37.22,25.56,31.39,85.0,31.0,16.09,16.09,20.92,0.00

In [18]:
dfWeather2.shape

(31, 9)

### 4. Xem thông tin thời tiết của 5 ngày đầu tiên trong dfWeather2

In [19]:
dfWeather2.head()

,TempHighC,TempLowC,TempMediumC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMMs
0,36.67,26.11,31.39,85.0,38.0,16.09,9.66,24.14,0.25
1,37.78,25.56,31.67,91.0,35.0,16.09,12.87,22.53,0.00
2,37.22,24.44,30.83,88.0,35.0,16.09,16.09,20.92,0.00
3,38.33,25.56,31.94,85.0,35.0,16.09,16.09,20.92,0.00
4,37.22,25.56,31.39,85.0,31.0,16.09,16.09,20.92,0.00

16. Từ arrWeather2, liệt kê thông tin thời tiết của các ngày có nhiệt độ cao nhất
17. Từ arrWeather2, liệt kê thông tin thời tiết của các ngày có nhiệt độ thấp nhất
18. Từ arrWeather2, liệt kê thông tin thời tiết của các ngày có mưa
19. Từ arrWeather2, liệt kê thông tin thời tiết của các ngày không có mưa và có độ ẩm cao nhất
20. Tạo mảng 1 chiều chứa giá trị trung bình thời tiết của các ngày có mưa trong tháng

### 5. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có nhiệt độ trung bình cao nhất

In [20]:
maxTemp = dfWeather2['TempMediumC'].max()
dfWeather2[dfWeather2['TempMediumC']==maxTemp]

,TempHighC,TempLowC,TempMediumC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMMs
29,41.11,26.11,33.61,69.0,27.0,16.09,16.09,20.92,0.0

### 6. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có nhiệt độ trung bình thấp nhất

In [21]:
minTemp = dfWeather2['TempMediumC'].min()
dfWeather2[dfWeather2['TempMediumC']==minTemp]

,TempHighC,TempLowC,TempMediumC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMMs
15,37.22,20.0,28.61,100.0,33.0,16.09,9.66,19.31,0.0

### 7. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có mưa, sắp giảm theo lượng mưa

In [22]:
dfWeather2[dfWeather2['PrecipitationSumMMs']>0].sort_values(by='PrecipitationSumMMs', ascending=False)

,TempHighC,TempLowC,TempMediumC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMMs
14,39.44,21.67,30.56,100.0,29.0,16.09,3.22,37.01,4.06
22,39.44,25.00,32.22,85.0,31.0,16.09,3.22,20.92,1.02
16,36.67,25.00,30.84,88.0,38.0,16.09,16.09,25.75,0.76
6,37.22,23.89,30.56,88.0,33.0,16.09,16.09,24.14,0.51
0,36.67,26.11,31.39,85.0,38.0,16.09,9.66,24.14,0.25
20,40.00,25.00,32.50,85.0,27.0,16.09,16.09,22.53,0.25
23,38.89,24.44,31.66,91.0,29.0,16.09,14.48,20.92,0.25
25,39.44,25.56,32.50,91.0,25.0,16.09,16.09,24.14,0.25

### 8. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày không có mưa và có độ ẩm trung bình cao nhất

In [23]:
maxHumidityMedium = ((dfWeather2['HumidityHighPercent']+dfWeather2['HumidityLowPercent'])/2).max()
print('độ ẩm trung bình cao nhất:', maxHumidityMedium)
cond = (dfWeather2['PrecipitationSumMMs']==0) & ((dfWeather2['HumidityHighPercent']+dfWeather2['HumidityLowPercent'])/2==maxHumidityMedium)
dfWeather2[cond]

độ ẩm trung bình cao nhất: 66.5

,TempHighC,TempLowC,TempMediumC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMMs
15,37.22,20.0,28.61,100.0,33.0,16.09,9.66,19.31,0.0

### 9. Tạo series ser chứa hai giá trị trung bình cột TempMediumC của các ngày có mưa và các ngày không mưa trong tháng

In [24]:
mean_co_mua = dfWeather2[dfWeather2['PrecipitationSumMMs']>0]['TempMediumC'].mean()
mean_khong_mua = dfWeather2[dfWeather2['PrecipitationSumMMs']==0]['TempMediumC'].mean()
ser = pd.Series([mean_co_mua, mean_khong_mua], index=['có mưa','không mưa'])
ser

có mưa       31.528750
không mưa    31.664783
dtype: float64