In [1]:
import numpy as np
import pandas as pd

In [2]:
lst = ['a','b','c','d']
s = pd.Series(lst) # tạo Series từ list
s

0    a
1    b
2    c
3    d
dtype: object

In [3]:
lst = ['a','b','c','d']
s = pd.Series(lst,index=[2,3,4,5]) # index số hoặc chuỗi, số lượng ind = số phần tử
s

2    a
3    b
4    c
5    d
dtype: object

In [4]:
tup = ('a','b','c','d')
s = pd.Series(tup,index=['hv1','hv2','hv3','hv4']) # tạo Series từ tuple
s

hv1    a
hv2    b
hv3    c
hv4    d
dtype: object

In [5]:
a  = np.arange(1,10)
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
s = pd.Series(a) # tạo Series từ array
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

In [7]:
s = pd.Series(10,index=[1,2,3,4,5,6])  # tạo Series từ hằng số constants
s # tạo ra 6 phần tử đều có giá trị là 10

1    10
2    10
3    10
4    10
5    10
6    10
dtype: int64

In [8]:
s.shape

(6,)

In [9]:
s.index

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [10]:
s.values

array([10, 10, 10, 10, 10, 10], dtype=int64)

## Truy xuất 1 phần tử trong series

In [2]:
s = pd.Series(['a', 'b', 'c', 'd'],index=['hv1','hv2','hv3','hv4'])
s

hv1    a
hv2    b
hv3    c
hv4    d
dtype: object

In [3]:
s['hv1']

'a'

In [4]:
s.loc['hv1']

'a'

In [5]:
s[0]

'a'

In [6]:
s.iloc[0]

'a'

In [7]:
s['hv4']

'd'

In [8]:
s[2]

'c'

In [9]:
s[-2]

'c'

In [11]:
lst = ['a','b','c','d']
s1 = pd.Series(lst,index=[1,2,3,4])
s1

1    a
2    b
3    c
4    d
dtype: object

In [17]:
s1[1] # theo label tuong minh

'a'

In [13]:
# s1[0] => Error

In [19]:
s1.loc[1]

'a'

In [20]:
s1.iloc[0] # theo index ngam dinh

'a'

## Truy xuất nhiều phần tử trong Series

In [24]:
s1

1    a
2    b
3    c
4    d
dtype: object

In [25]:
s1[1:3] # index ngầm định

2    b
3    c
dtype: object

In [26]:
s1.iloc[1:3]

2    b
3    c
dtype: object

In [27]:
s1.iloc[[0,1,3]]

1    a
2    b
4    d
dtype: object

In [28]:
s1.loc[[1,2,4]]

1    a
2    b
4    d
dtype: object

In [29]:
s

hv1    a
hv2    b
hv3    c
hv4    d
dtype: object

In [30]:
s.loc[['hv1', 'hv3']]

hv1    a
hv3    c
dtype: object

In [31]:
s = pd.Series(np.arange(1,101))
s

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Length: 100, dtype: int32

In [32]:
s.head()

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [33]:
s.head(10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

In [34]:
s.tail(10)

90     91
91     92
92     93
93     94
94     95
95     96
96     97
97     98
98     99
99    100
dtype: int32

## Truy xuất phần tử theo điều kiện

In [35]:
s%2==0 # Series điều kiện

0     False
1      True
2     False
3      True
4     False
      ...
95     True
96    False
97     True
98    False
99     True
Length: 100, dtype: bool

In [36]:
s[s%2==0]

1       2
3       4
5       6
7       8
9      10
11     12
13     14
15     16
17     18
19     20
21     22
23     24
25     26
27     28
29     30
31     32
33     34
35     36
37     38
39     40
41     42
43     44
45     46
47     48
49     50
51     52
53     54
55     56
57     58
59     60
61     62
63     64
65     66
67     68
69     70
71     72
73     74
75     76
77     78
79     80
81     82
83     84
85     86
87     88
89     90
91     92
93     94
95     96
97     98
99    100
dtype: int32

In [37]:
s.loc[(s%2==0) & (s>80)]

81     82
83     84
85     86
87     88
89     90
91     92
93     94
95     96
97     98
99    100
dtype: int32

## Thêm phần tử

In [38]:
lst = ['a','b','c','d']
s = pd.Series(lst,index=['hv1','hv2','hv3','hv4'])
s

hv1    a
hv2    b
hv3    c
hv4    d
dtype: object

In [39]:
s['hv2'] = 'f' # cap nhat/sua phan tu

In [40]:
s

hv1    a
hv2    f
hv3    c
hv4    d
dtype: object

In [41]:
s['hv5'] = 'g' # them pt

In [42]:
s

hv1    a
hv2    f
hv3    c
hv4    d
hv5    g
dtype: object

In [43]:
s1 = pd.Series(['h','j'],index=['hv1','hv2'])
s1

hv1    h
hv2    j
dtype: object

In [44]:
s2 = pd.concat([s,s1])
s2

hv1    a
hv2    f
hv3    c
hv4    d
hv5    g
hv1    h
hv2    j
dtype: object

In [45]:
s2['hv1']

hv1    a
hv1    h
dtype: object

In [46]:
s2 = pd.concat([s,s1], ignore_index=True) # bỏ qua index, reset lại index theo zero-base index
s2

0    a
1    f
2    c
3    d
4    g
5    h
6    j
dtype: object

## Sửa phần tử

In [19]:
lst = ['a','b','c','d']
s = pd.Series([1,2,3,4],index=lst)
s

a    1
b    2
c    3
d    4
dtype: int64

In [48]:
s1 = s + 1
s1

a    2
b    3
c    4
d    5
dtype: int64

In [20]:
s[s<3] = s[s<3] +0.5
s

a    1.5
b    2.5
c    3.0
d    4.0
dtype: float64

## Xóa phần tử

In [16]:
s.drop('a', inplace=True)

In [18]:
# s.drop('a')

In [21]:
s # phải gán lại hoặc inplace = True. Khi xóa lại sẽ báo lỗi vì phần tử đó ko còn tồn tại

a    1.5
b    2.5
c    3.0
d    4.0
dtype: float64

In [52]:
t = s.drop('a')
t

b    2.5
c    3.0
d    4.0
dtype: float64

In [53]:
s.drop(['a','c'])

b    2.5
d    4.0
dtype: float64

In [54]:
s.drop(s.index[0]) # xóa tại index 0

b    2.5
c    3.0
d    4.0
dtype: float64

In [55]:
s.drop(s.index[[1,2]]) # xóa tại index 1, 2

a    1.5
d    4.0
dtype: float64

In [56]:
s = pd.Series([1,2,3,4,2,34,2,4,3,2,3,3])
s

0      1
1      2
2      3
3      4
4      2
5     34
6      2
7      4
8      3
9      2
10     3
11     3
dtype: int64

In [57]:
s.describe()

count    12.000000
mean      5.250000
std       9.096703
min       1.000000
25%       2.000000
50%       3.000000
75%       3.250000
max      34.000000
dtype: float64

In [58]:
s.mode()

0    2
1    3
dtype: int64

In [59]:
s.mode()[0]

2

In [60]:
s.value_counts()

3     4
2     4
4     2
34    1
1     1
dtype: int64

In [61]:
s.sort_values(ascending=False)

5     34
7      4
3      4
11     3
10     3
8      3
2      3
9      2
6      2
4      2
1      2
0      1
dtype: int64

In [62]:
s

0      1
1      2
2      3
3      4
4      2
5     34
6      2
7      4
8      3
9      2
10     3
11     3
dtype: int64

In [63]:
s = pd.Series(['vn','la','cam','thai'],index=['vietnam','lao','campuchia','thailan'])
s

vietnam        vn
lao            la
campuchia     cam
thailan      thai
dtype: object

In [64]:
s.sort_index(ascending=False)

vietnam        vn
thailan      thai
lao            la
campuchia     cam
dtype: object

In [65]:
s1 = s.map(lambda x: "xin chao "+x)
s1

vietnam        xin chao vn
lao            xin chao la
campuchia     xin chao cam
thailan      xin chao thai
dtype: object

In [66]:
s2 = s1.apply(len)
s2

vietnam      11
lao          11
campuchia    12
thailan      13
dtype: int64

In [67]:
s3 = s1.apply(lambda x: len(x))
s3

vietnam      11
lao          11
campuchia    12
thailan      13
dtype: int64

In [68]:
a = pd.Series(['1978-01-23', '1983-05-10', '1978-07-12', '1985-01-27', '1983-12-31'])
a

0    1978-01-23
1    1983-05-10
2    1978-07-12
3    1985-01-27
4    1983-12-31
dtype: object

In [69]:
b = a.map(lambda x: x[:4])
b

0    1978
1    1983
2    1978
3    1985
4    1983
dtype: object

In [70]:
b.value_counts()

1983    2
1978    2
1985    1
dtype: int64

In [71]:
a.astype('datetime64')

0   1978-01-23
1   1983-05-10
2   1978-07-12
3   1985-01-27
4   1983-12-31
dtype: datetime64[ns]

In [72]:
pd.DatetimeIndex(a).year.value_counts()

1983    2
1978    2
1985    1
dtype: int64

In [73]:
s = pd.Series([1,2,3,4,2,34,2,4,3,2,3,3])
s

0      1
1      2
2      3
3      4
4      2
5     34
6      2
7      4
8      3
9      2
10     3
11     3
dtype: int64

In [74]:
s.duplicated() # default keep='first'

0     False
1     False
2     False
3     False
4      True
5     False
6      True
7      True
8      True
9      True
10     True
11     True
dtype: bool

In [75]:
s.drop_duplicates() # default keep='first', inplace=False

0     1
1     2
2     3
3     4
5    34
dtype: int64

In [76]:
s

0      1
1      2
2      3
3      4
4      2
5     34
6      2
7      4
8      3
9      2
10     3
11     3
dtype: int64